// Colors
$grey: #333333;
$white: #ffffff;

// Navigation colors
$nav-background: $grey;

$nav-text: $white;
$nav-active-link: #94e5ff;

// Clock variables
$clock-text-color: $white;
$clock-bg-color: #85D0E2;
$clock-border-color: #2099E8;
